/MrStickman/[Ll]ibrary/
/MrStickman/[Tt]emp/
/MrStickman/[Oo]bj/
/MrStickman/[Bb]uild/
/MrStickman/[Bb]uilds/
/MrStickman/[Ll]ogs/
/MrStickman/[Mm]emoryCaptures/
/MrStickman/[Uu]serSettings/

!/MrStickman/[Aa]ssets/**/*.meta

/MrStickman/.vs/
/MrStickman/.vscode/
/MrStickman/.vsconfig/
/MrStickman/.idea/

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

